/* Write your CSS here */
.header-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 0px 1px #dcdcdc;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 458px;
  padding-top: 18px;
  padding-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .nav-container {
    padding-top: 26px;
    padding-bottom: 26px;
    max-width: 1110px;
  }
}
.website-logo {
  width: 36px;
  height: 36px;
}
@media screen and (min-width: 768px) {
  .website-logo {
    width: 50px;
    height: 50px;
  }
}
.hamburg-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 34px;
}
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}
.model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  max-width: 458px;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .model-container {
    max-width: 1110px;
  }
}
.close-button {
  align-self: flex-end;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  margin-top: 32px;
  outline: none;
  cursor: pointer;
}
.nav-link-lists {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.link-item {
  list-style-type: none;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e293b;
  text-decoration: none;
  margin-bottom: 32px;
}
.nav-link-content {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  margin: 0px;
  margin-left: 8px;
}
